SECRET_KEY='$up3rSeCretKEY@least16charactersLong!'
DATABASE='sqlite:///instance/uscope.sqlite'

SQLALCHEMY_DATABASE_URI = DATABASE
SQLALCHEMY_TRACK_MODIFICATIONS = False

USER_APP_NAME = 'uScope'
USER_ENABLE_EMAIL = True
USER_ENABLE_USERNAME = False
USER_EMAIL_SENDER_NAME = USER_APP_NAME
USER_EMAIL_SENDER_EMAIL = 'you@example.com'

MAIL_SERVER = 'smtp.example.com'
MAIL_PORT = 587
MAIL_USE_TLS = True
MAIL_USERNAME = 'you@example.com'
MAIL_PASSWORD = 'emailPassword.'
MAIL_DEFAULT_SENDER = f'"{USER_APP_NAME}" <{USER_EMAIL_SENDER_EMAIL}>'
